<div *ngIf="thesis">
  <div class="card">
    <div class="card-header d-flex justify-content-between mt-3">
      <h5 class="mr-3  my-auto" [translate]="'Theses.ThesesInfo'"></h5>
    </div>
    <div class="card-footer border-top py-4 text-secondary">
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Theses.Subject'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{thesis.name}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Theses.ThesisType.type'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{thesis.type?.name}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Theses.Overseer'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{thesis.instructor?.familyName}}  {{thesis.instructor?.givenName}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Theses.ThesisStatus.status'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{'Theses.ThesisStatus.' + thesis.status?.alternateName  | translate }}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Theses.AssignedDate'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{thesis.startDate  | date:'shortDate'}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Theses.DeliveredDate'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{ thesis.endDate   | date:'shortDate'}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Theses.ExamDate'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{thesis.examDate  | date:'shortDate' }}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Theses.Grade'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{thesis.formattedGrade }}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Theses.Units'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{ thesis.units }}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Theses.ECTS'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{ thesis.ects }}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Theses.Coefficient'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{thesis.coefficient }}</span>
        </div>
      </div>
      <div class="form-group row mb-1" >
        <div class="col-5">
          <span [translate]="'Theses.GradeScale'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{thesis.gradeScale ? thesis.gradeScale?.name : '-' }}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-12">
          <span [translate]="'Theses.Notes'"></span>
        </div>
        <div class="col-12 text-dark">
          <span>{{thesis.notes }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card" *ngIf="thesis.length == 0">
    <div class="card-header d-flex justify-content-between mt-3">
      <h5 class="mr-3  my-auto" [translate]="'Exams.Info'"></h5>
    </div>
    <div class="card-body pt-0 pb-3">
      <div class="card-text row">
        <div class="col-12  text-dark">
          <span [translate]="'Exams.NoGeneralInfo'"></span>
        </div>
      </div>
    </div>
  </div>
</div>
