<div>
  <div class="row">
    <div class="col-12" [ngVar]="{}" #filter="ngVar">
      <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="table" [routerSearchState]>
        <advanced-search>
          <!--          <app-internships-advanced-table-search [(filter)]="filter.value"></app-internships-advanced-table-search>-->
          <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search
                                    [(filter)]="filter.value"></app-advanced-search-form>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>
  <div class="row">
    <div class="col-auto mt-4">
      <div class="font-xl text-secondary" *ngIf="recordsTotal">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Rules.ResultsPlural'"></span>
      </div>
    </div>
    <div class="pull-right ml-auto mr-3 mt-3">
      <div class="btn-group mr-3" role="group">
        <button type="button" class="btn btn-success btn-lg universis-btn-export">
          <span [translate]="'Students.Export'"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-4">
      <app-advanced-table #table [autoLoad]="false" [columnOrdering]="true" (load)="onDataLoad($event)" [height]="600"></app-advanced-table>
    </div>
  </div>
</div>
<router-modal></router-modal>
