<form-collapsible>
    <form-header>{{ 'DegreeTemplates.ImportTemplates.Title' | translate }}</form-header>
    <form-body>
        <div class="card-body pl-2 pb-2">
            <ng-container *ngIf="lastMessage">
                <div class="alert" [ngClass]="lastMessage.type" role="alert">
                    {{lastMessage.message}}
                  </div>
            </ng-container>
            <p class="card-text" [translate]="'DegreeTemplates.ImportTemplates.Help'"></p>
            <div class="row">
              <div class="col-6">
                  <ngx-dropzone (change)="onSelect($event)" [multiple]="false" [accept]="'.xlsx,.xls'">
                      <ngx-dropzone-label>{{ 'DegreeTemplates.ImportTemplates.Placeholder' | translate }}</ngx-dropzone-label>
                      <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                      </ngx-dropzone-preview>
                  </ngx-dropzone>
                </div>
            </div>
            <div class="mt-3">
                <button class="btn btn-theme" type="button" [disabled]="!(files && files.length > 0)"
                  (click)="import()" [translate]="'DegreeTemplates.ImportTemplates.Command'"></button>
            </div>
          </div>
    </form-body>
</form-collapsible>
