<div *ngIf="courses">
  <div *ngIf="courses.length != 0">
  <div class="row mt-2" *ngFor="let specializationCourse of courses;">
    <div class="col-12">
      <card-collapsible>
        <card-header>
          {{specializationCourse.studyProgramCourse?.studyProgram?.name}}
          <span>&nbsp;</span> -
          <span *ngIf="specializationCourse.studyProgramCourse?.studyProgram?.studyLevel" [translate]="'StudyLevels.' + specializationCourse.studyProgramCourse?.studyProgram?.studyLevel?.alternateName"></span>
          <span>&nbsp;</span> -
          <span  [translate]="'StudyPrograms.isActive.' + specializationCourse.studyProgramCourse?.studyProgram?.isActive"
                [ngClass]="!specializationCourse.studyProgramCourse?.studyProgram?.isActive ?'text-danger':'open-grade'"></span>
        </card-header>
        <card-body>
          <app-study-programs-preview-form [model]="specializationCourse"></app-study-programs-preview-form>
          <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
              <a [routerLink]="['/study-programs', specializationCourse.studyProgramCourse?.studyProgram?.id, 'preview', 'specialization', specializationCourse.specialization?.specialty, 'courses' , { outlets: { modal:['item', specializationCourse.id, 'edit'] } }]" class="btn btn-md text-light bg-primary px-3 float-right">{{ 'Details' | translate }}</a>
            </div>
          </div>
        </card-body>
      </card-collapsible>
    </div>
  </div>
 </div>
  <div *ngIf="courses.length == 0">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <p class="card-text"  [translate]="'Courses.noStudyPrograms'"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
