<div>
  <div class="row">
    <div class="col-auto mt-4">
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Departments.PlacesList'"></span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal == 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Departments.PlaceSingular'"></span>
      </div>
    </div>
    <div *ngIf="canEditPlaces" class="pull-right ml-auto mr-3 mt-3">
      <div class="font-lg btn-toolbar mt-3">
        <a *ngIf="this.places && this.places.selected && this.places.selected.length"
          class="text-danger text-decoration-none mr-2" href="javascript:void(0)" (click)="removePlace()">
          <span>-</span><span>&nbsp;</span><span *ngIf="this.places.selected.length === 1; else removePlaces"
            [translate]="'Departments.RemovePlace'"></span>
        </a>
        <ng-template #removePlaces>
          <span [translate]="'Departments.RemovePlacePlural'"></span>
        </ng-template>
        <a class="text-indigo text-decoration-none" [routerLink]="['.', { outlets:{ modal:'add'} }]">
          <span>+</span><span>&nbsp;</span><span [translate]="'Departments.AddPlace'"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-4 pl-0">
      <app-advanced-table [showFooter]="false" (load)="onDataLoad($event)" #places
        [height]="600"></app-advanced-table>
    </div>
  </div>
  <router-modal></router-modal>
</div>